<%- include("partials/header.ejs") %>

<div class="main-container">
    <form class="chapters-container" action="/" method="get">
        <label for="books"> Chapters </label>
        <% if (locals.chapters) {%>
            <% chapters.forEach(chapter => {%>
                <div class="chapter-card">
                    <input class="chapter-title" id="books" type="submit" value="<%= chapter.attributes.title %>" formaction="/book/:id">
                    <p><%= chapter.attributes.summary? chapter.attributes.summary.slice(0,200) : "Sumary not available"%></p>
                </div>          
            <% }); %>
            <%  %>
        <% }else { %>
            <h3>Something went wrong :c Sorry mum</h3>
        <% } %>
    </form>
</div>

<%- include("partials/footer.ejs") %>