<%- include("partials/header.ejs") %>

<div class="main-container">
    <form class="edit-container" action="/" method="post">
        <input type="text" name="title" placeholder="Title" required>
        <textarea name="content"></textarea>
        <button type="submit">Save</button>
    </form>
</div>


<%- include("partials/footer.ejs") %>