<%- include("partials/header.ejs") %>

<div class="main-container">
    <form class="chapters-container" action="/" method="get">
        <label for="books"> Chapters </label>
        <div class="chapter-card">
            <input class="chapter-title" id="books" type="submit" value="The boy who lived" formaction="/book/:id">
            <p>In the first chapter, we are introduced the Dursley family: Mr. and Mrs. Dursley and his son Dudley...</p>
        </div>
        <div class="chapter-card">
            <input class="chapter-title" id="books" type="submit" value="The boy who lived" formaction="/book/:id">
            <p>In the first chapter, we are introduced the Dursley family: Mr. and Mrs. Dursley and his son Dudley...</p>
        </div>
        <div class="chapter-card">
            <input class="chapter-title" id="books" type="submit" value="The boy who lived" formaction="/book/:id">
            <p>In the first chapter, we are introduced the Dursley family: Mr. and Mrs. Dursley and his son Dudley...</p>
        </div>
        <div class="chapter-card">
            <input class="chapter-title" id="books" type="submit" value="The boy who lived" formaction="/book/:id">
            <p>In the first chapter, we are introduced the Dursley family: Mr. and Mrs. Dursley and his son Dudley...</p>
        </div>
        <div class="chapter-card">
            <input class="chapter-title" id="books" type="submit" value="The boy who lived" formaction="/book/:id">
            <p>In the first chapter, we are introduced the Dursley family: Mr. and Mrs. Dursley and his son Dudley...</p>
        </div>
        <div class="chapter-card">
            <input class="chapter-title" id="books" type="submit" value="The boy who lived" formaction="/book/:id">
            <p>In the first chapter, we are introduced the Dursley family: Mr. and Mrs. Dursley and his son Dudley...</p>
        </div>
    </form>
</div>

<%- include("partials/footer.ejs") %>