<%- include("partials/header.ejs") %>

<div class="main-container">
    <form class="form-container" action="/" method="get">
        <label class="books-label" for="books"> Books</label>
        <input id="books" type="submit" value="book1" formaction="/book/:id">
        <input id="books" type="submit" value="book1" formaction="/book/:id">
        <input id="books" type="submit" value="book1" formaction="/book/:id">
        <input id="books" type="submit" value="book1" formaction="/book/:id">
        <input id="books" type="submit" value="book1" formaction="/book/:id">
        <input id="books" type="submit" value="book1" formaction="/book/:id">
        <input id="books" type="submit" value="book1" formaction="/book/:id">
    </form>
</div>

<%- include("partials/footer.ejs") %>