.main-container{
    height: 80vh;
}

#custom-entries-display{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 50%;
    align-items: left;
    justify-content: center;
}

.custom-display{
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: space-between;
}

