.main-container{
    height: 80vh;
}

/* .form-container {
    display: grid;
    grid-template-rows: 2rem 5rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

table{
    margin-top: 50px;
    display: inline-block;
}

.header{
    height: 13vh;
    background-color: antiquewhite;
    text-align: center;
} */

