<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/carrusel3.png" alt="">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Relive the Magic: A Journey Through Hogwarts</h1>
            <p class="opacity-75">Experience the unforgettable journey from the Philosopher's Stone to the Deathly Hallows. Each book summary captures the essence of Harry Potter's magical adventure.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/img/carrusel1.png" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Your Thoughts, Your Story: Chapter by Chapter</h1>
            <p>Dive deeper into every chapter and let your thoughts flow as you explore new revelations or revisit your favorite moments in the Harry Potter saga.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/img/carrusel.png" alt="">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Capture the Magic in Words</h1>
            <p>Share your unique perspective with fellow fans by writing down your reflections and insights after each book or chapter. Your journey through Hogwarts continues here.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div> 