<%- include("./partials/header.ejs")  %>

<div class="main-container">
    <h1>BLOG WEB APPLICATION</h1>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="list-group list-group-radio d-grid gap-2 border-0">
            <button><a href="/entries"> New Entry</a></button>
            <h2>Previous Entries</h2>
            <% if(locals.entries && locals.entries.length > 0){ %>
                <% for (entry = 0; entry < entries.length; entry++){%>
                    <div class="position-relative">
                        <input class="form-check-input position-absolute top-50 end-0 me-3 fs-5" type="radio" name="listGroupRadioGrid" id="listGroupRadioGrid1" value="" checked="">
                        <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid1">
                        <strong class="fw-semibold"><a href="/entries/<%= entry %>"> <%= entries[entry].title  %></strong>
                        </label>
                    </div>
                <%} %>
            <% } else { %>
                <h1>no entries</h1>
            <% } %>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %>
