<%- include("./partials/header.ejs")  %>

<div class="main-container">
    <h1>BLOG WEB APPLICATION</h1>
    <div class="form-container">
        <h2>Previous Entries</h2>
        <button><a href="/submit"> New Entry</a></button>
        <table>
            <tbody>
                <tr>
                    <td> <a href="/"> Entry 1 </a></td>
                    <td> <a href="/"> DELETE </a></td>
                </tr>
                <tr></tr>
                    <td><a href="/"> Entry 2 </a></td>
                    <td> <a href="/"> DELETE </a></td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>

<%- include("./partials/footer.ejs") %>
